# Nextflow
.nextflow/
.nextflow.log*
work/
reports/
*.html
trace.txt

# Workflow outputs and logs
logs/
output/
tmp/

# Python
__pycache__/
*.egg-info/
*.pyc

# Editors
*.swp
*.swo
*~

# Backup files
*.bak*
