// Use -C annotation.config: isolate this entrypoint from legacy nextflow.config.
params {
    sites_manifest = null
    select_units = null
    resource_lock = null
    annotation_root = null
    loftee_root = null
    fastvep_container = null
    loftee_container = null
    outdir = 'annotation_output'
    annotation_cpus = 2
    annotation_memory = '8 GB'
    annotation_time = '4h'
    annotation_queue = 'medium'
    annotation_qos = 'medium'
    annotation_queue_size = 4
}
process {
    executor = 'local'
    withLabel: sites_annotation {
        cpus = { params.annotation_cpus }
        memory = { params.annotation_memory }
        time = { params.annotation_time }
        errorStrategy = 'terminate'
        cache = 'deep'
    }
}
profiles {
    nbdc { includeConfig 'conf/annotation-nbdc.config' }
}
manifest.nextflowVersion = '>=26.04.6'
