params {
    gather_manifest = null
    select_units = null
    gather_id = null
    resource_lock = null
    outdir = 'post_rarity_qc_gather_output'
    gather_container = null
    gather_cpus = 1
    gather_memory = '4 GB'
    gather_time = '2h'
    gather_queue = 'small,medium'
    gather_qos = null
    gather_queue_size = 16
}
process.executor = 'local'
process.errorStrategy = 'terminate'
profiles {
    nbdc { includeConfig 'conf/gather-post-rarity-qc-nbdc.config' }
}
manifest.nextflowVersion = '>=26.04.6'

process.maxForks = 16
executor.queueSize = params.gather_queue_size
trace.overwrite = true
