// Part 1 config - SLURM executor for Expanse

process {
    executor = 'slurm'
    queue = 'shared'
    clusterOptions = '--account=ddp195 --ntasks=1 --nodes=1'
    errorStrategy = 'finish'
    beforeScript = 'module load cpu/0.17.3b singularitypro'
}

trace {
    enabled = true
    overwrite = true
    file = 'reports/trace_part1.tsv'
}

timeline {
    enabled = true
    overwrite = true
    file = 'reports/timeline_part1.html'
}
