process {
    errorStrategy = "ignore"
    executor = "slurm"
    queue = "ind-shared"
    clusterOptions = "--account=ddp195 --ntasks=1 --nodes=1"
}

executor {
    queueSize = 50
    submitRateLimit = "20/1min"
}

trace {
    enabled = true
    file = "trace_part8.txt"
    overwrite = true
}

report {
    enabled = true
    file = "report_part8.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "timeline_part8.html"
    overwrite = true
}
