process {
    executor = "slurm"
    queue = "shared"
    clusterOptions = "--account=ddp195 --ntasks=1 --nodes=1"
}

executor {
    queueSize = 50
    submitRateLimit = "20/1min"
}

trace {
    enabled = true
    file = "trace_part7.txt"
    overwrite = true
}

report {
    enabled = true
    file = "report_part7.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "timeline_part7.html"
    overwrite = true
}
