process {
    errorStrategy = "ignore"
    executor = "slurm"
    queue = "ind-shared"
    clusterOptions = "--account=ddp195 --ntasks=1 --nodes=1"
    publishDir = [path: "out_merge_inner", mode: "link"]
}

executor {
    queueSize = 50
    submitRateLimit = "20/1min"
}

trace {
    enabled = true
    file = "trace_part10.txt"
    overwrite = true
}

report {
    enabled = true
    file = "report_part10.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "timeline_part10.html"
    overwrite = true
}
