process {
    errorStrategy = 'ignore'
    executor = 'slurm'
    queue = 'shared'
    clusterOptions = '--account=ddp195 --ntasks=1 --nodes=1'
}

executor {
    queueSize = 100
    submitRateLimit = '20/1min'
}

trace {
    enabled = true
    file = 'trace_part6.txt'
    overwrite = true
}

report {
    enabled = true
    file = 'report_part6.html'
    overwrite = true
}

timeline {
    enabled = true
    file = 'timeline_part6.html'
    overwrite = true
}
