// Isolated post-extraction QC: use -C post_carrier_qc.config.
params {
    qc_manifest = null
    resource_lock = null
    select_units = null
    outdir = 'qc_output'
    qc_container = null
    qc_cpus = 2
    qc_memory = '4 GB'
    qc_time = '4h'
    qc_queue = 'medium'
    qc_qos = 'medium'
    qc_queue_size = 4
}
process.executor = 'local'
process.errorStrategy = 'terminate'
profiles {
    nbdc { includeConfig 'conf/post-carrier-qc-nbdc.config' }
}
manifest.nextflowVersion = '>=26.04.6'
