params {
    annotation_root = '/home/ood-guevara-james/abcd-fastvep-smoke/resources/ensembl-115'
    loftee_root = '/home/ood-guevara-james/abcd-fastvep-smoke/resources/loftee'
    fastvep_container = '/home/ood-guevara-james/abcd-fastvep-smoke/containers/targeted-7d5b76a28e2427ca97af6ebec1d5e38aec63b93609419c0cc77c063e48e2917d.sif'
    loftee_container = '/home/ood-guevara-james/abcd-fastvep-smoke/containers/targeted-81e0e00a97f900867808e5f7cf17cdac6f5c5ef7956e2c6641f3188fa335d9ab.sif'
}
process {
    executor = 'slurm'
    queue = { params.annotation_queue }
    clusterOptions = { params.annotation_qos ? "--qos=${params.annotation_qos}" : '' }
    containerOptions = {
        def mounts = "${params.annotation_root}:${params.annotation_root}:ro,${params.loftee_root}:${params.loftee_root}:ro"
        "--cleanenv --bind '" + mounts.replace("'", "'\"'\"'") + "'"
    }
}
executor.queueSize = params.annotation_queue_size
apptainer.enabled = true
apptainer.autoMounts = true
