params {
    filter_resource_root = '/home/ood-guevara-james/abcd-fastvep-smoke/resources'
    filter_container = '/home/ood-guevara-james/abcd-fastvep-smoke/containers/targeted-81e0e00a97f900867808e5f7cf17cdac6f5c5ef7956e2c6641f3188fa335d9ab.sif'
}
process {
    executor = 'slurm'
    queue = { params.filter_queue }
    clusterOptions = { params.filter_qos ? "--qos=${params.filter_qos}" : '' }
    containerOptions = { "--cleanenv --bind '" + "${params.filter_resource_root}:${params.filter_resource_root}:ro".replace("'", "'\"'\"'") + "'" }
}
executor.queueSize = params.filter_queue_size
apptainer.enabled = true
apptainer.autoMounts = true
