// Nextflow config for SDSC Expanse

params {
    chrom = "chrY"
    n_chunks = 10
}

process {
    executor = "slurm"
    queue = "shared"
    clusterOptions = "--account=ddp195 --nodes=1 --ntasks-per-node=1"
    
    cpus = 1
    memory = "4 GB"
    time = "30m"
    
    beforeScript = "module load singularitypro"
}

executor {
    name = "slurm"
    queueSize = 50
    submitRateLimit = "10/1min"
}

singularity {
    enabled = true
    autoMounts = true
}

workDir = "${projectDir}/work"

report {
    enabled = true
    file = "${projectDir}/reports/report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${projectDir}/reports/timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${projectDir}/reports/trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "${projectDir}/reports/dag.html"
    overwrite = true
}
